# MONGO_URI=mongodb://localhost:27017/noillin
# REDIS_URL=redis://localhost:6379
# RABBIT_URL=amqp://localhost:5672
# MEILI_HOST=http://localhost:7700
# MEILI_KEY=your_master_key

# # Realtime integration
# REALTIME_URL=http://localhost:6001
# INTERNAL_SECRET=your_internal_secret

# # Push Notifications (VAPID)
# VAPID_PUBLIC_KEY=your_vapid_public_key
# VAPID_PRIVATE_KEY=your_vapid_private_key
# VAPID_SUBJECT=mailto:your_email@example.com

# # Email
# EMAIL_USER=your_email@gmail.com
# EMAIL_PASS=your_email_password
# ENABLE_EMAIL_NOTIFICATIONS=true

# # Feature Flags
# ENABLE_WEB_PUSH=true

MEILI_HOST=http://localhost:7700
MEILI_KEY=YOUR_MASTER_KEY
RABBIT_URL=amqp://localhost:5672
MONGO_URI=mongodb+srv://Admin:admin@cluster0.2cvxsaj.mongodb.net/noillin
VAPID_PUBLIC_KEY=BNgczlcm1p_c369DWD-fXQsPYUwofTiuAnpMAADHc9Df4Z97dT8Jr4x0mSgEWiJWZJ85Ex3Dcr_nJkuq6j9UZtc
VAPID_PRIVATE_KEY=zI9ZE4d7Ou4r-9c-fSyGElB7VIY35fk2aK7wS7Rqmpk
VAPID_SUBJECT=mailto:shilja.devxtra@gmail.com

ENABLE_WEB_PUSH=true
INTERNAL_SECRET=super_secret_key
REALTIME_URL=http://localhost:6001
REDIS_URL=redis://localhost:6379


EMAIL_USER=noillin.connect@gmail.com
EMAIL_PASS=mgio rbxq cpcv liqu
ENABLE_EMAIL_NOTIFICATIONS=true