# PORT=6001
# MONGO_URI=mongodb://localhost:27017/noillin
# INTERNAL_SECRET=your_internal_secret
# ENABLE_WEB_PUSH=true

MONGO_URI=mongodb+srv://Admin:admin@cluster0.2cvxsaj.mongodb.net/noillin
ENABLE_WEB_PUSH=true
INTERNAL_SECRET=super_secret_key
PORT=6001